* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prata';
}
header, footer {
    background-color: #000000;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: relative;
}
.logo {
    height: 40px;
    width: auto;
    cursor: pointer;
}
.nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-menu, .nav-footer, .social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-item {
    text-decoration: none;
    font-size: 20px;
}
.nav-link {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.nav-link:hover {
    color: #37bfa6;
}
.projects-content {
    display: none;
    position: absolute;
    background-color: #404040;
    border-radius: 5px;
    min-width: 250px;
    z-index: 1;
    left: 0;
}
.projects-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.projects-content a:hover {
    background-color: #37bfa6;
    border-radius: 5px;
}

.nav-item:hover .projects-content {display: block;}

.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    border-radius: 2px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.footer {
    display: flex;
    justify-content: center;
}
.icon {
    height: 30px;
    width: auto;
}
.hero {
    height: auto;
    background-color: #000000;
    width: 100%;
}
.content {
    max-width: 1300px;
    margin: auto;
    color: white;
    display: grid;
    grid-template-areas:
        "heroPic heroText"
        "heroPic resumeButton"
    ;
    grid-template-columns: 2fr 1fr;
    padding: 50px;
    column-gap: 50px;
    row-gap: 50px;
}
.heroPic {
    grid-area: heroPic;
    height: auto;
    width: 100%;
}
.heroText {
    font-size: 3vw;
    grid-area: heroText;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.heroFooter {
    height: auto;
    width: 100%;
}
.banner {
    position: relative;
    width: 100%;
    height: auto;
}
.banner .clouds {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner .clouds img {
    position: absolute;
    top: 0;
    max-width: 100%;
    animation: animate calc(12s * var(--i)) linear infinite;
}
@keyframes animate {
    0% {
        transform: translateX(-100%)
    }
    50% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(100%);
    }

}
.resumeButton {    
    width: fit-content;
    margin: auto;
    grid-area: resumeButton;
}
.btn-primary {
    background-color: #37C0A6; 
    color: white;
    font-family: "Prata";
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
}
.btn-primary:hover {
    background-color: #1a9a82; 
    cursor: pointer;
}
.section {
    padding-bottom: 100px;
    margin: 0px 120px;
}
.container {
    padding: 0px 20px;
    margin: 0px 50px;
}
.aboutContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.kauaiImg {
    object-fit: cover;
    width: 300px;
    max-width: inherit;
    height: auto;
    border-radius: 5px;
}
.text {
    min-width: 300px;
    max-width: 500px;
}
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillsCard {
    height: auto;
    width: 300px;
    padding: 20px;
    text-align: center;
}
.skillsCard > p {
    text-align: left;
}
.skillsImg {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.projectsContainer {
    display: grid;
    grid-template-areas: 
        "stewardImg stewardContent"
        "wildHeartContent wildHeartImg"
        "streamersImg streamersContent"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 50px;
}
.wildHeartImg {
    grid-area: wildHeartImg;
    justify-self: center;
}
.wildHeartContent {
    grid-area: wildHeartContent;
    justify-self: center;
    text-align: center;
}
.stewardImg {
    grid-area: stewardImg;
}
.stewardContent {
    grid-area: stewardContent;
    justify-self: center;
    text-align: center;
}
.streamersImg {
    grid-area: streamersImg;
}
.streamersContent {
    grid-area: streamersContent;
    justify-self: center;
    text-align: center;
}
.wildHeartContent > p, .usdaContent > p, .streamersContent > p {
    text-align: left;
}
.projectsImg {
    width: 100%;
    max-width: 500px;
}
.contactBackground {
    background-color: #9B8461;
}
.contactHeader {
    padding: 50px 0px;
}
.contact-form {
    /* border: 1px solid red; */
}
h1 {
    font-size: 43px;
}
h2 {
    font-size: 39px;
}
h3 {
    font-size: 31px;
}
h4 {
    font-size: 23px;
    padding: 10px;
}
p {
    font-size: 17px;
    font-family: 'Avenir';
    padding: 10px;
    tab-size: 4;
}
.fixed-position {
    position: fixed;
}
.revealUp {
    padding-bottom: 20px;
    opacity: 0;
    visibility: hidden;
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 21px;
    }
    p {
        font-size: 17px;
    }
    .content {
        grid-template-areas:
        "heroPic"
        "heroText"
        "resumeButton"
    ;
    grid-template-columns: 1fr;
    }
    .heroPic {
        height: auto;
        width: 100%;
    }
    .heroText {
        font-size: 6vw;
    }
    .hero {
        height: auto;
    }
    .projectsContainer {
        grid-template-areas: 
        "stewardImg"
        "stewardContent"
        "wildHeartImg"
        "wildHeartContent"
        "streamersImg"
        "streamersContent"
        ;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);;
    }
    .wildHeartContent, .stewardContent, .streamersContent {
        justify-self: center;
        text-align: center;
    }
    .section {
        margin: 0px 50px;
    }
    .container {
        margin: 0px;
    }
    .fcf-form-class {
        justify-content: center;
        align-content: center;
    }
    .resumeButton {
        width: 200px;
        text-align: center;
    }
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        /* left: 0; */
        left: 50%;
        /* transform: translateX(-50%); */
    }
    .revealUp {
        /* padding-left: 50px; */
        text-align: center;
    }
}

input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
  }